<footer{{#unless settings.hideGenerator}} class="with-border-bottom"{{/unless}}>
    <div class="container tsd-generator">
        <p>Copyright © 2017 <a href="https://realm.io/" target="_blank">Realm</a></p>
    </div>
</footer>